* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Noto Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(to bottom, #ffffff, #d7dadf);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 341px;
  height: 506px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(207, 206, 206, 0.4);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.card__image {
  background-image: url("https://raw.githubusercontent.com/aplaraujo/blog-card-challenge/refs/heads/main/img/spacejoy-YqFz7UMm8qE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 18rem;
}

.card__content {
  padding: 1rem;
}

span.card__content-badge {
  font-size: 0.625rem;
  padding: 4px;
  width: 4.25rem;
  height: 1.5rem;
  background-color: #f0fcf4;
  color: #4d9f6e;
  border-radius: 1.25rem;
  border: 1px solid #baf6d0;
}

.card__content-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: normal;
  margin: 0.625rem 0;
}

.card__content-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
  color: #525252;
}

.card__content-cta-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
  border: none;
  background: none;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: normal;
  color: #5a51d2;
}

.card__content-cta-button img {
  width: 14px;
  height: 14px;
}
